package templates
import (
	"github.com/spoik/go-htmx-todo/internal/server/routes"
	"github.com/spoik/go-htmx-todo/internal/templates/viewmodels"
)

templ NewTodoForm(todoListId string, title string, err string) {
	<div hx-target="this" hx-swap="outerHTML">
		<form hx-post={ routes.CreateTodo.Reverse() } class="flex gap-4">
			<input type="hidden" name="todo_list_id" value={ todoListId }/>
			<label for="new-todo-title" class="sr-only">Title</label>
			<input
				type="text"
				id="new-todo-title"
				placeholder="New todo title"
				autofocus
				name="title"
				class="flex-auto bg-white p-2 text-black"
				value={ title }
			/>
			<input type="submit" class="py-2 px-4 bg-blue-900 " value="Add"/>
		</form>
		if err != "" {
			<div class="mt-2">
				@Error(err)
			</div>
		}
	</div>
}

templ TodoCreated(todo viewmodels.Todo) {
	<div id="todos" hx-swap-oob="afterbegin">
		@todoListElement(todo)
	</div>
	@AddTodo(todo.TodoListID.String())
}
