package templates

import (
"github.com/spoik/go-htmx-todo/internal/database/queries"
"github.com/spoik/go-htmx-todo/internal/templates/viewmodels"
)

templ Todos(todos []queries.Todo) {
	@layout() {
		<h1 class="text-3xl">Todos</h1>
		<ul class="mt-6 grid gap-4">
			for _, t:= range todos {
				<li>
					@Todo(viewmodels.NewTodo(t))
				</li>
			}
		</ul>
	}
}

templ Todo(todo viewmodels.Todo) {
	<label
		class="bg-blue-900 p-4 flex rounded-lg"
		for={ todo.InputId() }
		id={ todo.LabelId() }
	>
		<input
			type="checkbox"
			checked?={ todo.IsChecked() }
			name={ todo.InputId() }
			id={ todo.InputId() }
			hx-put={ todo.PutURL() }
			hx-trigger="change"
			hx-target={ "#" + todo.LabelId() }
			hx-swap="outerHTML"
		/>
		<p class="ml-4">{ todo.TodoTitle() }</p>
	</label>
}
