package templates

import (
	"github.com/spoik/go-htmx-todo/internal/server/routes"
	"github.com/spoik/go-htmx-todo/internal/templates/viewmodels"
)

templ Todos(todos []viewmodels.Todo) {
	@layout() {
		<h1 class="text-3xl">Todos</h1>
		<ul class="mt-6 grid gap-4">
			for _, t:= range todos {
				<li>
					@Todo(t)
				</li>
			}
		</ul>
		<div class="mt-3" id="new-todo">
			<a
				href="something"
				hx-get={ routes.NewTodo.Reverse() }
				hx-swap="outerHTML"
			>+ Add todo</a>
		</div>
	}
}

templ Todo(todo viewmodels.Todo) {
	<label
		class="bg-blue-900 p-4 flex rounded-lg"
		for={ todo.InputId() }
		id={ todo.LabelId() }
	>
		<input
			type="checkbox"
			checked?={ todo.IsChecked() }
			name={ todo.InputId() }
			id={ todo.InputId() }
			hx-put={ todo.ToggleCompleteUrl }
			hx-trigger="change"
			hx-target={ "#" + todo.LabelId() }
			hx-swap="outerHTML"
		/>
		<p class="ml-4">{ todo.Title }</p>
	</label>
}

templ NewTodo() {
	<form hx-post={routes.CreateTodo.Reverse()} class="flex gap-4">
		<label for="new-todo-title" class="sr-only">Title</label>
		<input
			type="text"
			id="new-todo-title"
			name="title"
			class="flex-auto bg-white p-2 text-black"
		/>
		<input type="submit" class="py-2 px-4 bg-blue-900 " value="Add"/>
	</form>
}
